.main {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
h1 {
  text-align: center;
}
input[type="text"] {
  width: 385px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1em;
  background: lightgray;
  margin-right: 10px;
  padding: 5px;
}
button {
  width: 50px;
  height: 40px;
  font-size: 1.5em;
  outline: 0;
  border: none;
}
.todolist {
  background-color: white;
  margin-top: 20px;
  padding: 10px 40px 10px 0px;
}
ul {
  list-style: none;
}
li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3em;
}
a {
  float: right;
  text-align: right;
  color: rgb(13, 27, 30);
  font-size: 0.5em;
  cursor: pointer;
}
.delete {
  background-color: rgb(118, 108, 127);
  text-align: center;
  padding: 4px 4px 4px 4px;
  color: white;
  cursor: pointer;
  border-radius: 10%;
}
